<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <title>Shaders</title>
        <link rel=stylesheet type=text/css href={{STATIC_URL}}css/style.css>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="intro">
            <h1><a href="../">THREE.js Workshop</a></h1>
            <p>These are the shaders available at iver.io/threejs</p>
            <p>Choose a shader in your code with <code>SHADERS.shadername</code></p>
            <p>Add a uniform like this: <code>shaderPass.uniforms.UNIFORM.value = VALUE</code></p>
        </div>

        <ul class=shaders>
            {% for shader in shaders %}
            <li>
            <h2><a href={{shader.example}}>{{ shader.title }}</a></h2>
            <code>{{shader.id}}</code>
            <p>{{shader.description}}</p>
            <h4>Uniforms:</h4>
            <dl>
                {% for key,value in shader.properties %}
                <dt>{{ key }}</dt>
                <dd>{{ value }}</dd>
                {% endfor %}
            </dl>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
