<!DOCTYPE html>
<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href={{ STATIC_URL }}css/style.css>
  <title>Skyboxes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="content" style="max-width: 768px">
  <h1><a href="../">THREE.js Workshop</a></h1>

  <h2>Skybox</h2>
  <p>
    A skybox is a set of images (6 in total). Each image is the texture for one of the surfaces of the skybox cube.
    <br><br>
    Example URL:
    <a href="{{ STATIC_URL }}res/skyboxes/SunSet_left.jpg">{{ STATIC_URL }}res/skyboxes/SunSet_left.jpg</a>
    <br>
    In this example, the prefix is "SunSet" and the surface is "left". So the format of the URL is as follows:
    <br>
    <a href="#">{{ STATIC_URL }}res/skyboxes/prefix_surface.jpg</a>
    <br>
    <b>surface</b><br>
    The surfaces are "left", "right", "up", "down", "front", "back"
    <br><br>
    <b>prefix</b><br>
    Here's a set of prefixes for skyboxes that you can use:
  </p>
  <ul class="skyboxes">
  {% for skybox in skyboxes %}
    <li>
      <img src="{{ STATIC_URL }}res/skyboxes/{{ skybox.prefix }}_left.jpg" class="skybox-image">
      <span>{{ skybox.prefix }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
</body>
