<!DOCTYPE html>
<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href={{ STATIC_URL }}css/style.css>
  <title>THREE.js Workshop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="content">
  <h2>THREE.js Workshop<a href="effect/14-blank/" class="add-effect" target="_blank">New demo</a></h2>

  <a href="/stuff/webgl-kurs-ww" target="_blank">Slides</a>
  <br>

  <h3>Tasks</h3>
  <a href="effect/4-rotating-cube/" target="_blank">Task 1 (rotate a cube)</a>
  <a href="effect/13-camera/" target="_blank">Task 2 (animate the camera)</a>
  <a href="effect/12-oppgave-3/" target="_blank">Task 3 (animate multiepl cubes)</a>
  <a href="effect/51-skybox-example/" target="_blank">Task 4 (skybox)</a>
  <a href="effect/44-musikk-eksempel/" target="_blank">Task 5 (add music)</a>
  <a href="effect/54-oppgave-6-shaders/" target="_blank">Task 6 (add a shader effect)</a>
  <br><br>
  <a href=effect/all/>All demos</a>
  <a href=shaders/>List of shaders</a>
  <a href=skyboxes/>List of skyboxes</a>
  <a href="https://www.youtube.com/playlist?list=PLbNKFU30hMo27xxDp6NVeF9jCtoDb9lCm" target=_blank>Inspirational videos</a>
  <a href="http://threejs.org/docs/" target=_blank>Three.js documentation</a>
</div>
</body>
