<!DOCTYPE html>
<link rel=stylesheet href={{ STATIC_URL }}css/frontpage.css>
<title>Poëtene.net</title>
<div>
Poëtene.net
<h1>THREE.js-kurs</h1>
<a href=threejs-kurs/foiler/>Foiler</a>
<a href=effect/4-rotating-cube/>Oppgave 1</a>
<a href=effect/13-camera/>Oppgave 2</a>
<a href=effect/12-oppgave-3/>Oppgave 3</a>
<a href=effect/14-oppgave-4/>Oppgave 4</a>
<br>
<a href=effect/all/>Alle demoer</a>
<br>
<a href="https://www.youtube.com/playlist?list=PLbNKFU30hMo27xxDp6NVeF9jCtoDb9lCm" target=_blank>Inspirasjonsvideoer</a>
<br>
<a href="http://threejs.org/docs/" target=_blank>Three.js-dokumentasjon</a>
