<!DOCTYPE html>
<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href={{ STATIC_URL }}css/style.css>
  <title>Poëtene.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="content">
  <h1>Poëtene.net</h1>
  <h2>THREE.js-kurs</h2>
  <a href=threejs-kurs/foiler/>Foiler</a>
  <a href=effect/4-rotating-cube/>Oppgave 1 (roter en kube)</a>
  <a href=effect/13-camera/>Oppgave 2 (sett kameraet i bevegelse)</a>
  <a href=effect/12-oppgave-3/>Oppgave 3 (skybox)</a>
  <a href=effect/14-oppgave-4/>Oppgave 4 (legg til musikk)</a>
  <a href=effect/14-oppgave-4/>Oppgave 5 (legg til en shader-effekt)</a>
  <a href=effect/all/>Alle demoer</a>
  <a href=shaders/>Liste over shaders</a>
  <a href="https://www.youtube.com/playlist?list=PLbNKFU30hMo27xxDp6NVeF9jCtoDb9lCm" target=_blank>Inspirasjonsvideoer</a>
  <a href="http://threejs.org/docs/" target=_blank>Three.js-dokumentasjon</a>
</div>
</body>
