<!DOCTYPE html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href={{ STATIC_URL }}css/style.css>
  <title>All demos</title>
</head>
<body>
<div class="content">
    <h1><a href="/threejs/">THREE.js-kurs</a></h1>
  <h2>All demos <a href="/threejs/effect/14-blank/" class="add-effect">New demo</a></h2>
  {% for effect in effects %}
  <a href={{ effect.get_absolute_url }}>{{ effect.name }} by {{ effect.author }}</a>
  {% endfor %}
</div>
</body>
