* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: #5cba91;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/background.svg');
    background-attachment: fixed;
    height: 100%;
    font-weight: 400;
    font-size: 20px;
}

h1 {
    font-weight: 300;
    font-size: 60px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    margin-top: 30px;
}

div.content {
    position: relative;
    margin: 40px auto;
    width: 90%;
    max-width: 500px;
    padding: 40px 60px;
    background: rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
    color: #264C3A;
    margin-top: 20px;
    display: block;
}

a:hover {
    text-decoration: underline;
}

.intro {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.shaders {
    list-style-type: none;
}

.shaders li {
    float: left;
    width: 28%;
    background: rgba(255, 255, 255, 0.5);
    margin: 1% 2%;
    padding: 1%;
}
.shaders li h2,
.shaders li h2 a {
    margin-top: 5px;
    display: inline;
}

.shaders code {
    font-family: monospace;
}
.shaders code::before {
    content: "[";
}
.shaders code::after {
    content: "]";
}
.shaders dl {
    margin: 5px 10px;
}
.shaders dt,
.shaders dd {
    float: left;
}
.shaders dt {
    clear: left;
    margin-right: 5px;
    font-weight: bold;
    font-family: monospace;
}

@media only screen and (max-device-width: 480px) {
    div.content {
        font-size: 40px;
        padding: 40px 30px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    body {
        font-size: 13px;
    }

    .shaders li {
        width: 90%;
    }
}
